// https://babeljs.io/docs/en/babel-preset-env
// {
//   "presets": ["@babel/preset-env"]
// }

{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        //"polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
